{% extends "utils/base.html" %}

{% load staticfiles %}

{% block content %}

{% if not user.is_authenticated %}
    Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a>!
{% else %}
    <div id="put-list-here"></div>

    <a href="{% url 'logout' %}">Log Out</a>

    <script type="text/html" id="list-item">
        <input class="toggle-item-done" type="checkbox"></input>
        <%= title %>
        <button class="delete">Delete!</button>
    </script>

    <script type="text/html" id="list-view">
        <ul></ul>
        <input type="text" id="newTodoItem" class="item-title" autofocus placeholder="Add another note"></input>
        <button class="add-item">Add</button>
    </script>

    <script data-main="/static/utils/scripts/main" src="{% static 'utils/scripts/require.js' %}"></script>
{% endif %}

{% endblock %}
